.board-place-container .board-place.black {
  fill: #666;
}
.board-place-container .board-place.white {
  fill: #ddd;
}
.board-place-container .move-highlighting {
  display: none;
}
.board-place-container.highlighted .move-highlighting {
  display: block;
  cursor: pointer;
}
.piece-container .piece {
  stroke: #fff;
  stroke-width: 2;
}
.piece-container .piece.black {
  fill: #d79b9b;
}
.piece-container .piece.white {
  fill: #57afe1;
  cursor: pointer;
}
.piece-container .piece.white:hover {
  stroke: #ccc;
}
.piece-container .piece.white.inactive {
  cursor: auto;
  stroke: #aaa;
}
.piece-container.selected .piece {
  stroke: #d79b9b;
}
.piece-container svg {
  display: none;
}
.piece-container.crowned svg {
  display: block;
}
.menu {
  margin: 20px 0;
}
.menu button {
  margin-right: 10px;
}
.controls {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #57afe1;
  background-color: #57afe1;
  color: white;
}
button:active {
  color: black;
}
button:hover {
  border: 1px solid gray;
}
button:disabled {
  color: grey;
  background-color: lightgray;
  border-color: lightgray;
}
.hidden {
  display: none;
}
.game-result {
  position: absolute;
  top: 44%;
  left: 250px;
  font-size: 80;
  color: #78a7e5;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
}
.game-result.win {
  color: #57afe1;
}
.game-result.lost {
  color: #d79b9b;
}
#finishMove {
  background-color: #f84f4f;
  transform: scale(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform-origin: left center;
  opacity: 0;
}
#finishMove.active {
  transform: scale(1.5);
  opacity: 1;
}
