@blue-color: #57afe1;
@red-color: #d79b9b;

.board-place-container{
    .board-place{
        &.black{
            fill: #666;
        }

        &.white{
            fill: #ddd;
        }
    }

    .move-highlighting{
        display: none;
    }

    &.highlighted{
        .move-highlighting{
            display: block;
            cursor: pointer;
        }
    }

}

.piece-container{
    .piece{
        stroke: #fff;
        stroke-width: 2;

        &.black{
            fill: @red-color;
        }

        &.white{
            fill: @blue-color;
            cursor: pointer;

            &:hover{
                stroke: #ccc;
            }

            &.inactive{
                cursor: auto;
                stroke: #aaa;
            }
        }
    }

    &.selected{
        .piece{
            stroke: @red-color;
        }
    }

    svg{
        display: none;
    }

    &.crowned{
        svg{
            display: block;
        }
    }
}

.menu{
    margin: 20px 0;

    button{
        margin-right: 10px;
    }
}

.controls{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #57afe1;
    background-color: #57afe1;
    color: white;
    
    &:active { 
        color: black; 
    }

    &:hover{
        border: 1px solid gray;
    }

    &:disabled{
        color: grey;
        background-color: lightgray;
        border-color: lightgray;
    }
}

.hidden{
    display: none;
}

.game-result{
    position: absolute;
    top: 44%;
    left: 250px;
    font-size: 80;
    color: #78a7e5;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;

    &.win{
        color: @blue-color;
    }

    &.lost{
        color: @red-color;
    }
}

#finishMove{
    background-color: #f84f4f;
    transform: scale(0);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform-origin: left center;
    opacity: 0;

    &.active {
        transform: scale(1.5);
        opacity: 1;
    }
}